<p id="notice"><%= notice %></p>

<ul>
		<li> 
			Season: 
			<%= @season.season %> 
		</li>

		<li> 
			Episodes in the season: 
			<%= Episode.where(season_id: @season.id).count%> 
		</li>
</ul>

<%= link_to 'Back', 
	controller: 'series', 
	action: 'show', 
	id: @season.serie_id 
%> |
<%= link_to "List of all episodes", 
	controller: "episodes", 
	action: "list_all_episodes", 
	id: @season.id 
%> |
<%= link_to "Synch", 
	controller: "seasons", 
	action: "synch", 
	id: @season.id 
%>	

<%= render :file => "comments/show_comments" %>
<%= yield :comments_show %>

<%= render :file => "comments/post" %>
<%= yield :comment_post %>
