<p id="notice"><%= notice %></p>

<ul>
		<li> Title: <%= @season.title %> </li> 
		<li> Year: <%= @season.created_at %> </li>
</ul>

<%= link_to 'Back', controller: 'series', action: 'index', id: nil %> |
<%= link_to "List of all episodes", 
	controller: "episodes", 
	action: "list_all_episodes", 
	id: @season.id %> |

<%= render :file => "comments/show" %>
<%= yield :comments_show %>

<%= render :file => "comments/post" %>
<%= yield :comment_post %>
