<p id="notice"><%= notice %></p>

<ul class="show-ses">
		<li> 
			Season
			<%= @season.season %> 
		</li>

		<li> 
			Episodes in the season: 
			<%= Episode.where(season_id: @season.id).count%> 
		</li>
</ul>
<ul class="nav-menu">
	<li>
		<%= link_to 'Back', 
			controller: 'seasons', 
			action: 'list_all_seasons', 
			id: @season.serie_id 
		%> |
	</li> 
	<li>
		<%= link_to "Episodes", 
			controller: "episodes", 
			action: "list_all_episodes", 
			id: @season.id 
		%> |
	</li>
	<li>
		<%= link_to "Synch", 
			controller: "seasons", 
			action: "synch", 
			id: @season.id 
		%>
	</li>	
</ul>

<%= render :file => "comments/show_comments" %>
<%= yield :comments_show %>

<%= render :file => "comments/post" %>
<%= yield :comment_post %>
