<h1>Comment</h1>
<p>Posted by <%=@comment.user%></p>
<p>Posted on <%=@comment.created_at%></p>
<p>Last Edit: <%=@comment.created_at%></p>
<p>Posted on : 
<% @link = "/series/"+@comment.serie_id.to_s%>
<%=Serie.find(@comment.serie_id).title%>
<%if(!@comment.season_id.nil?)%>
  <% @link = "/seasons/"+@comment.season_id.to_s%>
  Season <%=Season.find(@comment.season_id).season%>(<%=Season.find(@comment.season_id).title%>)
  <%if(!@comment.episode_id.nil?)%>
    <% @link = "/episodes/"+@comment.episode_id.to_s%>
    Episode <%=Episode.find(@comment.episode_id).episode%>(<%=Episode.find(@comment.episode_id).title%>).
  <%end%>
<%end%>
<a href="<%=@link%>">Link<a>
</p>
<p>Comment Title: <%=@comment.title%></p>
<p>Comment Content: <%=@comment.content%></p>