<%content_for :comments_show do%> 
  <%@controller=request.original_url.split('/')[3]%>
  <%if @controller == "series"%>
    <%@current_serie = params[:id]%>
    <%@current_season = nil%>
    <%@current_episode = nil%>
  <%elsif @controller == "seasons"%>
    <%@current_serie = Serie.find(Season.find(params[:id]).serie_id).id%>
    <%@current_season = params[:id]%>
    <%@current_episode = nil%>
  <%elsif @controller == "episodes"%>
    <%@current_serie = Serie.find(Season.find(Episode.find(params[:id]).season_id).serie_id).id%>
    <%@current_season = Season.find(Episode.find(params[:id]).season_id).id%>
    <%@current_episode = params[:id]%>
  <%end%>
  <%@comments = Comment.show(@current_serie,@current_season,@current_episode)%>
  <h1>Comments</h1>
  <table border="2" align="center">
  <tr><th>Posted by</th><th>Title</th><th>Content</th><th>Posted Date</th><th>Edited Date</th><th>Edit</th><th>Delete</th></tr>
  <% @comments.each do |comment|%>
    <tr>
      <td>
        <%=comment.user%>
      </td>
      <td>
        <%=comment.title%>
      </td>
      <td>
        <%=comment.content%>
      </td>
      <td>
        <%=comment.created_at%>
      </td>
      <td>
        <%=comment.updated_at%>
      </td>
      <td>
        <a href="/comments/edit_menu/<%=comment.id%>">Edit</a>
      </td>
      <td>
        <a href="/comments/delete/<%=comment.id%>">Delete</a>
      </td>
    </tr>
  <%end%>
  </table>
<%end%>