
<p id="notice"><%= notice %></p>
<p>ID:<%=@logged_user.id%></p>
<p>Name:<%=@logged_user.user %></p>
<p>Password:hidden</p>
<p>E-Mail:<%=@logged_user.email%></p>
<p>Secret Question:<%=@logged_user.secret_question%></p>
<p>Secret Answer:<%=@logged_user.secret_answer%></p>
<p>Skype:<%=@logged_user.skype%></p>
<p>Country:<%=@logged_user.country%></p>
<p>Created At:<%=@logged_user.created_at%></p>
<p>Last Update:<%=@logged_user.updated_at%></p>