<div class="panel panel-primary">
    
    <h1 class="panel-heading">News</h1>

    <%if(!@subsriptions.take.nil?)%>

        <% @new_information.sort{|a,b| b.updated_at <=> a.updated_at}.each do |new_info|%>

            <%if(new_info.instance_of?(Serie))%>
                
                <div class="list-group">
                    <p class="list-group-item">
                        The infromation for 
                        <a href="series/<%=new_info.id%>">
                            <%=new_info.title%>
                        </a> 
                        was updated
                    </p>
                </div>
         
            <%elsif(new_info.instance_of?(Comment))%>
                
                <div class="list-group">
                    <p class="list-group-item">
                        <%=new_info.user%> write a new comment on <a href="/comments/show/<%=new_info.id%>"><%=Serie.find(new_info.serie_id).title%></a>
                    </p>
                </div>
         
            <%elsif(new_info.instance_of?(Episode))%>
                
                <div class="list-group">
                    <p class="list-group-item">
                        New episode of <a href="/episodes/<%=new_info.id%>"><%=Serie.find(Season.find(new_info.season_id).serie_id).title%>(<%=new_info.created_at%>)</a> coming soon 
                    </p>
                </div>
        
            <%elsif(new_info.instance_of?(Season))%>
                
                <div class="list-group">
                    <p class="list-group-item">
                        New season of  <a href="/seasons/<%=new_info.id%>"><%=Serie.find(new_info.serie_id).title%></a> coming soon
                    </p>
                </div>
        
            <%end%>

        <%end%>

    <%else%>

        <p>You don't have news</p>

    <%end%>
</div>