<p id="notice"><%= notice %></p>

<ul class="show-epi">
		<li> <%= @episode.title %> </li> 
		<li> Air Date /<%= @episode.air_date %>/ </li>
</ul>
<ul class="epi-nav-menu">
	<li>
		<%= link_to 'Back', 
			controller: 'episodes', 
			action: 'list_all_episodes', 
			id: @episode.season_id
		%> |
	</li>
	<li>
		<%= link_to 'Synch', 
			controller: 'episodes', 
			action: 'synch_air_date', 
			id: @episode.id
		%> |
	</li>
	<li>
		<%= link_to 'Find Promo', 
			controller: 'episodes', 
			action: 'find_video', 
			id: @episode.id
		%>
	</li>	
</ul>

<%if(!@episode.torrent_link.nil?)%>
	<a href="<%=@episode.torrent_link%>" >Download Torrent</a>
<%end%>
<%if(!@episode.subs_link.nil?)%>
	<a href="<%=@episode.subs_link%>" target="_blank">Download Subs</a>
<%end%>

<%= render :file => "comments/show_comments" %>
<%= yield :comments_show %>

<%= render :file => "comments/post" %>
<%= yield :comment_post %>
