<p id="notice"><%= notice %></p>

<ul>
		<li> Title: <%= @episode.title %> </li> 
		<li> Air Date:<%= @episode.air_date %> </li>
</ul>

<%= link_to 'Back', controller: 'series', action: 'index', id: nil%>
<%= link_to 'Synch', controller: 'episodes', action: 'synch_air_date', id: @episode.id%>

<%if(!@episode.torrent_link.nil?)%>
<a href="<%=@episode.torrent_link%>" >Download Torrent</a>
<%end%>
<%if(!@episode.subs_link.nil?)%>
<a href="<%=@episode.subs_link%>" target="_blank">Download Subs</a>
<%end%>
<%= render :file => "comments/show" %>
<%= yield :comments_show %>

<%= render :file => "comments/post" %>
<%= yield :comment_post %>
