<h1>Search for serie</h1>
<p><%=notice %></p>

<%= form_tag :controller => 'series', :action => 'search', :method => 'get' do %>
  <%= text_field_tag :search, params[:search], :id => 'search_field' %><br>
  <%= submit_tag "Search", :name => nil%> 
  <%= button_tag "Reset", type: :reset %>
<% end %> 
