<p id="notice"><%= notice %></p>

<ul>
		<li> Title: <%= @series.title %> </li> 
		<li> Year: <%= @series.year %> </li>
</ul>

<%= link_to 'Search', 'index'%> |
<%= link_to 'Back', series_path %> |
<%= link_to "List of all seasons", controller: "seasons", action: "list_all_seasons", id: nil %> |
<%= link_to 'Synch', series_path %> |



