<p id="notice"><%= notice %></p>

<ul>
		<li> Title: <%= @series.title %> </li> 
		<li> Year: <%= @series.year %> </li>
</ul>

<%= link_to 'Search', 'index'%> |
<%= link_to 'Back', series_path %> |
<%= link_to "List of all seasons", controller: "seasons", action: "list_all_seasons", id: @series.id %> |
<%= link_to 'Synch', controller: "series", action: "synch", id: @series.id %> |

<%= render :file => "comments/show" %>
<%= yield :comments_show %>

<%= render :file => "comments/post" %>
<%= yield :comment_post %>




