<p id="notice"><%= notice %></p>

<ul class="show-list">
		<li> Title- <span class = "info"><%= @series.title %></span> </li><br> 
		<li> Year- <span class = "info"><%= @series.year %></span> </li><br>
		<li id = "descr-li"> Description-<br> <span class = "info"><%= @series.description %></span> </li>
</ul>

<%= link_to "List of all seasons", 
	controller: "seasons", 
	action: "list_all_seasons", 
	id: @series.id 
%> |
<%= link_to 'Synch', 
	controller: "series", 
	action: "synch", 
	id: @series.id 
%> |
<%= link_to 'Rewrite', 
	controller: "series", 
	action: "rewrite_serie", 
	id: @series.id 
%>

<%if(!session[:user_id].nil?)%> |
  <% if(UserSubscription.where(user_id:User.find(session[:user_id]).id,serie:@series.id).take.nil?)%>
    <%= link_to 'Follow', 
    	controller: "user_subscriptions", 
    	action: "create", 
    	serie: @series.id %>
  <%else%>
    <%= link_to 'StopFollow', 
    	controller: "user_subscriptions", 
    	action: "delete", 
    	serie: @series.id %>
  <%end%>
<%end%>

<%= render :file => "comments/show_comments" %>
<%= yield :comments_show %>

<%= render :file => "comments/post" %>
<%= yield :comment_post %>




