<p id="notice"><%= notice %></p>

<ul>
		<li> Title: <%= @series.title %> </li> 
		<li> Year: <%= @series.year %> </li>
		<li> Description: <%= @series.description %> </li>
</ul>

<%= link_to 'Search', 'index'%> |
<%= link_to 'Back', series_path %> |
<%= link_to "List of all seasons", controller: "seasons", action: "list_all_seasons", id: @series.id %> |
<%= link_to 'Synch', controller: "series", action: "synch", id: @series.id %>
<%if(!session[:user_id].nil?)%> |
  <% if(UserSubscription.where(user_id:User.find(session[:user_id]).id,serie:@series.id).take.nil?)%>
    <%= link_to 'Follow', controller: "user_subscriptions", action: "create", serie: @series.id %>
  <%else%>
    <%= link_to 'StopFollow', controller: "user_subscriptions", action: "delete", serie: @series.id %>
  <%end%>
<%end%>

<%= render :file => "comments/show" %>
<%= yield :comments_show %>

<%= render :file => "comments/post" %>
<%= yield :comment_post %>




