<div class="panel panel-primary">
	<p class="panel-heading"><%= notice %></p>

	<div class="panel-body">
		<ul class="list-group">
			<li class="list-group-item">
				<%= @series.title %>-
				<%= @series.year %>
			</li>
			<li class="list-group-item">
				<%= @series.description %>
			</li>
			<li class="list-group-item">
				<%= link_to "List of all seasons", 
					{controller: "seasons", 
					action: "list_all_seasons", 
					id: @series.id},
					class: "btn btn-primary"
				%> 
				<%= link_to 'Synch', 
					{controller: "series", 
					action: "synch", 
					id: @series.id},
					class: "btn btn-warning"					
				%> 
				<%= link_to 'Rewrite', 
					{controller: "series", 
					action: "rewrite_serie", 
					id: @series.id},
					class: "btn btn-warning" 
				%>

				<%if(!session[:user_id].nil?)%> 
				  <% if(UserSubscription.where(user_id:User.find(session[:user_id]).id,serie:@series.id).take.nil?)%>
				    <%= link_to 'Follow', 
				    	{controller: "user_subscriptions", 
				    	action: "create", 
				    	serie: @series.id},
						class: "btn btn-warning" %>
				  <%else%>
				    <%= link_to 'StopFollow', 
				    	{controller: "user_subscriptions", 
				    	action: "delete", 
				    	serie: @series.id},
						class: "btn btn-warning" %>
				  <%end%>
				<%end%>
			</li>
		</ul>

		<%= render :file => "comments/show_comments" %>
		<%= yield :comments_show %>

		<%= render :file => "comments/post" %>
		<%= yield :comment_post %>

	</div>

</div>


