<%= render :file => "users/user_panel" %>
<%= render :file => "layouts/navigation_sidebar" %>
<!DOCTYPE html>
<html>
<head>
  <title>Watch1t</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="body">
	<header>
		<h1>Welcome</h1>
	</header>
	<section>
		<div class="content">
			<div class="navbar">
				<%= yield :navigation_sidebar %>
			</div>

			<div class="main">
				<%= yield %>
			</div>

			<div class="userpanel">
				<%= yield :user_panel %>
			</div>
		</div>
	</section>
	<footer>
		<p>&#64; All Rights Reserved</p>
	</footer>
</body>
</html>
